.App{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: grey ;
    color: #000;
}

.container{
    display: flex;
    height: 80vh;
    border: 1px solid white;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: honeydew;

}

.form-file-input{
    display: flex;
    justify-content: space-around;
    width: 450px;

}

input{
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

button{
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin: 0 5px;
}

.item-lists{
    list-style: none;
    margin: 0;
    padding: 0;
}

.item{
   border-radius: 50px;
   margin: 10px 0;
   background-color: aqua ;
   padding: 10px 20px;
   display: flex;
   width: 400px;
   align-items: center;
}

.toDotext{
    flex: 1;

}